body{
    margin: 0px;
    background-color: rgba(243,243,243,255);
    background-image: url(logoBackDef.png);
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: 60% 50%;   
}

input{
    border-radius: 20px;
    border: 1px solid gray;   
    padding-left: 10px;
}

.tituloPortal{
    color: rgb(166,25,60);
    font-size: 50px;
    position: absolute;
    top: 20px;
    left: 350px;
}

.menuLateral{
    margin: 0px;
    width: 300px;
    height: 100vh;
    background-color: rgb(166,25,60);
    -webkit-touch-callout: none;  
    -webkit-user-select: none;    
    -khtml-user-select: none;     
    -moz-user-select: none;       
    -ms-user-select: none;        
    user-select: none; 
}

.logo{
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.opcaoMenu{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 15px;
    transition: .5s;
    overflow: hidden;
    position: relative;
}

.opcaoMenu:hover{
    background-color: rgb(145, 22, 53);
    transition: .5s;
}

.subOpcaoMenu{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    color: white;
    font-size: 15px;
    transition: .5s;
}

.subOpcaoMenu:hover{
    background-color: rgb(117, 18, 43);
}

#btnRelatorio{
    display: none;
}

#funcPortabilidade{
    position: absolute;
    width: 210px;
    left: 40px;
    transition: .5s;
    overflow: hidden;   
    white-space: nowrap;       
}

#funcPortabilidade:hover{
    left: -50px;
    transition: 5s;
    overflow: hidden;
    width: 320px; 
}

.conteudo{
    width: 100%;
    border: 1px solid gray;
    border-radius: 20px;
    height: fit-content;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.tituloConteudo{
    position: absolute;
    top: -20px;
    height: 30px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(77, 77, 77);
    background-color: white;
}

